<div class=" row">
  <form class="col formsframe" (ngSubmit)="registerWithEmail(content)">

    <div class="form-group">
      <label for="firstname">First name</label>
      <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="companyUser.firstname">
    </div>

    <div class="form-group">
      <label for="lastname">Last name</label>
      <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="companyUser.lastname">
    </div>

    <div class="form-group">
      <label for="company">Company name / Associations name</label>
      <input type="text" class="form-control" id="company" name="company" [(ngModel)]="companyUser.company">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
             placeholder="name@example.com" [(ngModel)]="companyUser.email" required>
      <small id="emailHelp" class="form-text text-muted">*We'll never share your email with anyone else. This will also
        be your username</small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password"
             placeholder="must be at least 6 characters" [(ngModel)]="password" required>
    </div>

    <!-- TODO: Add functionality to checkbox -->
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="checkterms" name="checkterms" required
             [(ngModel)]="checkTerms">
      <label class="form-check-label" for="checkterms">I've read and accepted the terms and conditions</label>
    </div>

    <!-- link to terms and conditions -->
    <div class="form-group">
      <a routerLink="/terms" target="_blank">Terms & Conditions</a>
    </div>

    <button type="submit" class="btn btn-primary btn-dark">Create account</button>

    <br><br>

    <!-- is for error messages -->
    <div class="form-group">

      <p *ngIf="errorMessage.length > 0" class="text-danger">
        {{errorMessage}}</p>

      <p *ngIf="error.message.length > 0" class="text-danger">
        {{error.message}} </p>

      <ng-template #content let-d="dismiss">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 style="white-space: pre-line; text-align: center" *ngIf="message.length > 0" class="text-info">
            {{message}} </h5>
        </div>
      </ng-template>

    </div>
  </form>

  <!-- image and text -->
  <div class="col container">
    <h2 class="centered text-dark">Do more in less time</h2>
    <img class="text-break img-fluid img-thumbnail" alt="stock image" style="width: 700px"
         src="assets/images/stock_office_photo2.jpg">
  </div>


</div>
